In [29]:
nota1 = 7.5
nota2 = 8.3
nota3 = 6.9
media = (nota1 + nota2 + nota3) / 3
print(f'A média das notas é: {media:.2f}')

A média das notas é: 7.57

Script executado com sucesso!

In [2]:
nome = input("Digite seu nome: \n")

print(f"O seu nome é: {nome}")

Digite seu nome:
Paulo Soler
O seu nome é: Paulo Soler

In [21]:
nome = "Ana Paula"
idade = 31

print(type(nome))
print(type(idade))

<class 'str'>
<class 'int'>

In [13]:
inteiro = 42
print("Inteiro:", inteiro)

flutuante = 42.0
print("Flutuante:", flutuante)

complexo = 3 + 4j
print("Complexo:", complexo)

texto = "Olá, mundo!"
print(texto)

lista = [1, 2, 3, 3]
print("Lista:", lista)

tupla = (1, 2, 3, 3, 4, 5)
print("Tupla:", tupla)

conjunto = {1, 2, 3, 3}
print("Conjunto:", conjunto)

dicionario = {"chave": "valor"}
print("Dicionario:", dicionario)

booleano = True # ou False
print("Booleano:", booleano)

nenhum = None
print("NoneType (None):", nenhum)

Inteiro: 42
Flutuante: 42.0
Complexo: (3+4j)
Olá, mundo!
Lista: [1, 2, 3, 3]
Tupla: (1, 2, 3, 3, 4, 5)
Conjunto: {1, 2, 3}
Dicionario: {'chave': 'valor'}
Booleano: True
NoneType (None): None

In [3]:
#Variáveis

idade = 30
nome = "Nicole"

print("Nome:", nome)
print("Idade:", idade)
print("Nome:",nome,", Idade:", idade)

Nome: Nicole
Idade: 30
Nome: Nicole , Idade: 30

In [11]:
num = int(input("Informe um número inteiro para ver a tabuada: "))

for i in range(1, 11):
    resultado = num * i
    print(resultado)

Informe um número inteiro para ver a tabuada: 5
5
10
15
20
25
30
35
40
45
50

In [14]:
ano_atual = 2025
ano_nascimento = int(input("Digite o ano de nascimento: "))

idade = ano_atual - ano_nascimento

print(f"Sua idade é: {idade}")

Digite o ano de nascimento: 1985
Sua idade é: 40